.row
  .col-md-6.col-md-offset-3
    %h1
      Chart List
      %a.btn.btn-primary{href: "/upload"} Upload CSV
      %button.btn.btn-info#showmulti Show Multiple Charts
.row{style: "margin-top: 20px;"}
  .col-md-6.col-md-offset-3
    %table.table.table-striped#files
      %thead
        %tr
          %th Name
          %th Action
      %tbody
        - @files.each do |fn|
          %tr
            %td
              %a.chartlink{href: "/chart/#{fn}"}
                = fn
            %td
              %a{href: "/delete/#{fn}"} Delete
:javascript
  $(document).ready(function(){
    table = $('#files').DataTable({
      lengthMenu: [25, 50, "All"]
    });

    $('#files tbody').on('click', 'tr', function() {
      $(this).toggleClass('success');
    });

    $('#showmulti').on('click', function() {
      if ($(".success .chartlink").length > 0) {
        window.location.href = "/multi/" + $.map($(".success .chartlink"), function(x){return x.innerText;}).join(";");
      }
    })
  });
