.row
  .col-md-6.col-md-offset-2
    %h1
      Chart List
      %a.btn.btn-primary{href: "/upload"} Upload CSV
      %button.btn.btn-info#showmulti Show Multiple Charts
.row{style: "margin-top: 20px;"}
  .col-md-6.col-md-offset-2
    %table.table.table-striped#files
      %thead
        %tr
          %th Name
          %th Action
      %tbody
        - @files.each do |fn|
          %tr
            %td
              %a.chartlink{href: "/chart/#{fn}"}
                = File.basename(fn, File.extname(fn))
            %td
              %a{href: "/delete/#{fn}"} Delete
  .col-md-2
    %h3 Tips
    %ol
      %li If the "Frame" orange line is above both "GT" ("Game Thread") blue and "RT" ("Render Thread") green lines, it means it is GPU bound (since GPU is not represented on this graph)
:javascript
  $(document).ready(function(){
    table = $('#files').DataTable({
      lengthMenu: [25, 50, "All"]
    });

    $('#files tbody').on('click', 'tr', function() {
      $(this).toggleClass('success');
    });

    $('#showmulti').on('click', function() {
      if ($(".success .chartlink").length > 0) {
        window.location.href = "/multi/" + $.map($(".success .chartlink"), function(x){return x.innerText;}).join(";");
      }
    })
  });
