.row
  .col-md-8.col-md-offset-2
    %h1 Upload New Chart
    %hr/
    - if @errors
      - @errors.each do |err_msg|
        .alert.alert-danger
          = err_msg
    %form(method="post" enctype='multipart/form-data')
      .form-group
        %label Changelist Number
        .input-group
          .input-group-addon CL
          %input.form-control{type: "text", name: "changelist"}
      .form-group
        %label Chart Name
        %input.form-control{type: "text", name: "chartname"}
      .form-group
        %label CSV file
        %input{type: "file", name: "csvfile"}
      .form-group
        %label HTML file
        %input{type: "file", name: "htmlfile"}
      %button.btn.btn-primary{type: "submit"} Upload!
